* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font: normal normal 16px/1.5 'Open Sans', sans-serif;
  background: #f5f5f5;
}

#app {
  width: 90%;
  margin: 0 auto;
  padding: 1em 0;
}

.main-header {
  text-align: center;
  margin-bottom: 3em;
}

.site-title {
  font-family: 'Passion One', cursive;
  font-size: 4em;
  color: #111;
}

.site-description {
  font-size: 1.6em;
  font-weight: 300;
  color: #555;
}

main {
  text-align: center;
}

#form-todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2em;
}

#form-todo #icon-add {
  font-size: 1.8em;
  color: #999;
}

#form-todo #icon-add.active {
  color: #04724D;
}

#form-todo #new-todo {
  width: 90%;
  font-size: 1.4em;
  text-align: center;
  color: #222;
  padding: .5em;
  border-radius: .5em;
  border: 1px solid #bbb;
  margin-bottom: .5em;
}

#form-todo .hint {
  font-size: 1em;
  font-weight: 300;
  color: #999;
}

.main-footer {
  font-size: 1em;
  text-align: center;
  color: #333;
}

.hide-list {
  display: none;
}

.show-list {
  display: block;
}

.list-title {
  font-family: 'Passion One', cursive;
  font-size: 2em;
  color: #333;
}

ul {
  width: 90%;
  list-style: none;
  background: #fff;
  border-radius: .5em;
  padding: .5em;
  margin: 0 auto 2em auto;
}

.item-link {
  font-size: 1em;
  text-decoration: none;
  color: #222;
}

#done-todos .item-link {
  text-decoration: line-through;
  color: #666;
}
